/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$reach-orange: #ffa73d;

// Background colors:
$els-content-bkg: #f5f5f5; //aka white smoke;
$els-ltr-green: #a2b58f; 
$els-green: #5b7755; // #577151
$els-lt-blue: #a1caca; 
$els-blue: #2a4c75;
$els-cta-bkg: rgba(78,114,176,0.22);
// special colors
$els-dark-green: #5b7755;

// button colors
$button-color: white; // text
$button-bkg : #006442; // pine green
$button-hover-color: #006442; // pine green
$button-hover-bkg: white;
$button-border: #006442; // pine green
$button-hover-border: #006442; // pine green
// form buttons
$form-button-color: white;
$form-button-bkg: #048785;
$form-button-hover-bkg: #ed8457;
$form-button-hover-color : white;
$form-button-border:  white;


// special colors

/* ----------- end Colors ----------- */
