/* **** media **** */
// Divi breakpts
// mobile menu shows at max-width: 980px



@media all and (max-width: 980px) { // nav menu,  woo & footer widgtes
	// reverse column order on mobile & tablet
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 960px) {

}
@media only all  and (max-width: 767px){ // mobile

}
@media only all  and (max-width: 767px) {

}

@media all and (max-width: 479px) {
    .et_pb_section.rmm-column-space-mobile {
        .et_pb_row .et_pb_column {
            margin-bottom: 30px!important;
        } 
    }
    .et_pb_section.rmm-nocolumn-space-mobile {
        .et_pb_row .et_pb_column {
            margin-bottom: 30px!important;
        } 
    }
}