// ken burns effect zoomin-right

.kb-zoomin-right .et_pb_slide .et_parallax_bg {
    animation: zoomin-right 7s forwards;
   -ms-animation: zoomin-right 7s forwards;
   -webkit-animation: zoomin-right 7s forwards;
   //-0-animation: zoomin-right 7s forwards;
   -moz-animation: zoomin-right 7s forwards;
  
 }

 @keyframes zoomout-right {
	0%{
		-ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		//-o-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		animation-timing-function: linear;
	}
	 
	100%{
		-ms-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		//-o-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-moz-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
	 
	}
}

@keyframes zoomin-right {
	0% {
		-ms-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		//-o-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-moz-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		animation-timing-function: linear;
	}


	100% {
		-ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		//-o-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);

	}
}
