// ken burns effect zoomin-right
$animation-duration: 10s;

.kb-zoomin-right .et_pb_slide .et_parallax_bg {
    animation: zoomin-right $animation-duration forwards;
   -ms-animation: zoomin-right $animation-duration forwards;
   -webkit-animation: zoomin-right $animation-duration forwards;
   //-0-animation: zoomin-right 7s forwards;
   -moz-animation: zoomin-right $animation-duration forwards;
  
 }
 // ken burns effect zoomin-right, then left 
 .kb-zoomin-rightleft .et_pb_slide:nth-child(odd) .et_parallax_bg {
	animation: zoomin-right $animation-duration forwards;
	-ms-animation: zoomin-right $animation-duration forwards;
	-webkit-animation: zoomin-right $animation-duration forwards;
	//-0-animation: zoomin-right $animation-speed forwards;
	-moz-animation: zoomin-right $animation-duration forwards;
 }
 .kb-zoomin-rightleft .et_pb_slide:nth-child(even) .et_parallax_bg {
	animation: zoomin $animation-duration forwards;
	-ms-animation: zoomin $animation-duration forwards;
	-webkit-animation: zoomin $animation-duration forwards;
	//-0-animation: zoomin 7s forwards;
	-moz-animation: zoomin $animation-duration forwards;
   
 }

 @keyframes zoomin-right {
	0% {
		-ms-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		//-o-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-moz-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		animation-timing-function: linear;
	}
		 
	 
	100% {
		-ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		//-o-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		-moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
		transform: scale3d(1.5, 1.5, 1.5) translate3d(-150px, -20px, 0px);
	 
	}
}
@keyframes zoomin{
	0%{
		-ms-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		//-o-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		-moz-transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		transform: scale3d(1.1, 1.1, 1.1) translate3d(0px, 0px, 0px);
		animation-timing-function: linear;
		
		
	}
		
		
	100%{
		-ms-transform: scale3d(1.5, 1.5, 1.5) translate3d(-0px, 0px, 0px);
		-webkit-transform: scale3d(3.5, 3.5, 3.5) translate3d(0px, 0px, 0px);
		//-o-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
		-moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
		transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
		
	}
}